@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

:root {
  --background-100: #151515;
  --background-200: #242424;
  --foreground-primary: #242424;
  --foreground: #ffffff;
  --primary: #4ee1a0;
  --cursor-shadow: oklch(0.81 0.16 160.05 / 0.1);
  --muted: #d9d9d9;
}

/* When defining theme variables that reference other variables, use the inline option: */
@theme inline {
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-cursor-shadow: var(--cursor-shadow);
  --color-foreground-primary: var(--foreground-primary);
  --color-muted: var(--muted);
  --font-sans: var(--font-space-grotesk);
}

@layer base {
  h1 {
    @apply text-5xl lg:text-7xl font-bold;
  }
  h2 {
    @apply text-4xl lg:text-5xl font-bold;
  }
  h3 {
    @apply text-2xl lg:text-3xl font-bold;
  }
  p {
    @apply text-lg font-medium text-muted;
  }
  strong {
    @apply underline decoration-2 underline-offset-6 decoration-primary;
  }
}
