@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

:root {
  --background: #151515;
  --foreground: #ffffff;
  --primary: #4ee1a0;
  --muted: #d9d9d9;
}

/* If I want to create a more personal theme */
/* [data-theme="personal"] {
  --background: #171717;
  --foreground: #ffffff;
} */

/* When defining theme variables that reference other variables, use the inline option: */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --font-sans: var(--font-space-grotesk);
}

.profile-img-gradient {
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.0001) 0.65%,
    #242424 100%
  );
}
