@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

:root {
  --background: #151515;
  --foreground-primary: #242424;
  --foreground: #ffffff;
  --primary: #4ee1a0;
  --cursor-shadow: oklch(0.81 0.16 160.05 / 0.1);
  --muted: #d9d9d9;
}

/* When defining theme variables that reference other variables, use the inline option: */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-cursor-shadow: var(--cursor-shadow);
  --color-foreground-primary: var(--foreground-primary);
  --color-muted: var(--muted);
  --font-sans: var(--font-space-grotesk);
}

@layer base {
  h2 {
    @apply text-4xl lg:text-5xl font-bold;
  }
}
